*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.modal__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.modal__container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__contents{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    width: 50%;
}
.close__button{
    position: absolute;
    top:2%;
    right: 1%;
}